.my-app {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  background-color: #f1f1f2; }

.heading {
  background-color: #f1f1f2;
  padding: 10px; }

.user-block {
  padding: 25px; }
  .user-block input[type="text"],
  .user-block button {
    padding: 10px;
    font-size: 20px;
    font-weight: bold; }

.display-block {
  padding: 25px;
  min-height: 300px; }
  .display-block ul,
  .display-block li {
    margin: 0;
    padding: 0; }
  .display-block li {
    list-style: none;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 3px;
    font-weight: 500; }
    .display-block li:hover {
      background-color: #f1f1f2; }
